pandas
numpy
requests
sqlalchemy
psycopg2-binary
python-dotenv
great_expectations
scikit-learn
matplotlib
seaborn
mlflow
feast
apache-airflow
jupyter
dvc
fastapi
uvicorn
loguru
great-expectations
feast
scikit-surprise